GITLAB_PROJECT_ID=1234
GITLAB_PRIVATE_TOKEN=lkajdlajdf-123kjasdlf
CLUSTER_NAME=example-cluster
GCLOUD_ZONE=europe-west1-b
DOMAIN=example.com
PROD_SUBDOMAIN=citestproddemo
STAGING_SUBDOMAIN=citeststaging
GCLOUD_PROJECT_ID=test-gitlabci-k8s-XXX
DOCKER_HOST=tcp://localhost:2375
